<div class="container" id="featured">
    <h2>Featured Products</h2>
    <div class="row">
      <!-- Product 1 -->
      <div class="col-md-4 product-card">
        <div class="card">
          <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/b/i/bison-pro-rb1_4_1_1.jpg" class="card-img-top" alt="Product 1" >
          <div class="card-body">
            <h5 class="card-title">Airbuds</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <!-- Product 2 -->
      <div class="col-md-4 product-card">
        <div class="card">
          <img src="https://m.media-amazon.com/images/I/81IA3-O3bJL.jpg" class="card-img-top" alt="Product 2" width="100">
          <div class="card-body">
            <h5 class="card-title">Phone Case</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <!-- Product 3 -->
      <div class="col-md-4 product-card">
        <div class="card">
          <img src="https://m.media-amazon.com/images/I/51C8GTKZ1DL._AC_UF894,1000_QL80_.jpg" class="card-img-top" alt="Product 3">
          <div class="card-body">
            <h5 class="card-title">Fast Charger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>